<app-header></app-header>

<!-- <div *ngIf="username; else noUsername">
    <mat-card class="card">
        <mat-card-content class="content">
            <mat-icon class="item material-symbols-outlined">account_circle</mat-icon>
            <span class="item">{{username}}</span>
            <mat-icon class="item material-symbols-outlined" (click)="logout()">logout</mat-icon>
        </mat-card-content>
    </mat-card> -->
    <router-outlet></router-outlet>
<!-- </div> -->
<notifier-container></notifier-container>
<app-footer></app-footer>

